.slider-solutions {
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    width: 696px;
}

.slider-solutions .slick-arrow {
    position: absolute;
    width: 18px;
    height: 59px;
    padding: 0;
    z-index: 100;
    &:focus {
        outline: none;
    }
}

.slider-solutions .slick-prev {
    background: url('../icons/arrow/left_big_arrow.png') center ( center / cover ) no-repeat;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    left: -170px;
}

.slider-solutions .slick-next {
    background: url('../icons/arrow/right_big_arrow.png') center ( center / cover ) no-repeat;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    right: -170px;
}